
@import "./common/_mixins.sass"
@import "./common/_variables.sass"

#admin
	.container
		max-width: unset!important
	.video-js
		max-width: 100%
		max-height: 100%
		
.container
	width: 1344px!important

.slick-list
	height: 100%
	.slick-track
		height: 100%

.box
	.content
		&+hr
			margin-top: -1rem

.tabs.is-boxed.is-centered
	li
		a
			color: $dark

.icon.is-right.has-text-danger,
.icon.is-right.has-text-success,
.slick-arrow
	display: none!important

.mdi-24px.mdi-set, .mdi-24px.mdi:before
	font-size: 1.5rem

#user
	.loading-background
		display: none

@media screen and (max-width: 1344px)
	.container
		width: 100%!important

@media screen and (max-width: 320px)
	html 
		font-size: 11px!important
@media screen and (min-width: 321px) 
	html 
		font-size: 12px!important
@media screen and (min-width: 425px) 
	html 
		font-size: 14px!important
@media screen and (min-width: 769px) 
	html 
		font-size: 15px!important
@media screen and (max-width: 768px)
	form
		.level
			.level-right
				margin-top: .5rem
			.level-item
				justify-content: flex-start
@media screen and (min-width: 1024px)
	html
		font-size: 16px!important